@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <body>
        <p>SEND A BIRTHDAY CARD.</p>
        <a href="/home/rsvpform"></a>
        @Html.ActionLink("Create Card", "RsvpForm")
    </body>

</div>


