@model BirthdayCardGen.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<h1>Birthday Card Sent! </h1>
<body>
    <h1>From: @Model.From</h1>
    <h1>  To: @Model.To</h1>
    <h1> Message: @Model.Message</h1>
</body>